/*--------------NAV--------------*/

.fixed-info {
    position: fixed;
}

nav .rectangle{
    width:6rem;
    height:7rem;
    background:#f7f7d4;
    position: absolute;
    top: 7rem;
    z-index: 0;
    margin-left: 2rem;

}


nav ul {
/*    border-left: solid 0.1rem;*/
    text-transform: lowercase;
    position:absolute;
        z-index: 2;
    padding-top: 2.5rem;
}

nav li {
    list-style: none;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: 0.03rem;
    padding-left: 3rem;
}


nav a:link,
nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {

    border-bottom: solid 0.1rem;

}


/*--------------NAME--------------*/



.name h1{
    font-family: 'Arapey', serif;
    text-transform: lowercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.name h2{
    font-family: 'Arapey', serif;
    font-size: 0.67rem;
    letter-spacing: 0.3rem;
    font-style: italic;
    text-align: center;
}

.name h3{
    font-family:'Arapey', serif;
    font-size: 0.7rem;
    padding-top: 0.89rem;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-align: left;
    text-transform: lowercase;
}

.name {
    line-height: 0.2rem;
    padding: 2rem;
    text-align: center;
}


.contact h3{

    font-family:'Arapey', serif;
    font-size: 0.7rem;
    padding-top: 0.89rem;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-align: left;
    text-transform:lowercase;
    top: 30rem;

}

.contact a:link,
.contact a:visited{
    color: black;
    text-decoration: none;
}

.contact a:hover,
.contact a:focus,
.contact a:active{

    border-bottom: solid 0.1rem;
}


/*--------------MAIN--------------*/

body{
font-family: 'Karla', sans-serif;
    margin-right: 10%;
}


.headings{
    text-align: left;
    line-height:1.5rem;
    padding: 0rem;
    padding-bottom: 3rem;

}
.headings h2{
    padding-left: 0.2rem;
    padding-top: 1.8rem;

}

.headings h3{
margin:0rem;
    line-height: 2.5rem;

}

.headings h4{
 line-height: 1rem;
    padding:0rem;
    padding-top: 1rem;
}


h2{
    font-family:'Arapey', serif;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-align: left;
    text-transform:lowercase;
    top: 30rem;
}

h3{
    font-size: 3rem;
    text-transform: uppercase;
}

h4{
    line-height: 0rem;
    margin:0rem;
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    padding-top: 3rem;
}


p{
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
}

hr{
    left:
    width: 70%;
    text-align: left;
}
/*------------HYPERLINKS-----------*/
.col-two a:link,
.col-two a:visited{
    color: black;
}

.col-two a:hover,
.col-two a:focus,
.col-two a:active{
    text-decoration:none;
}

/*-----------STYLE GUIDE---------*/
.styleguide-nav ul {
/*    border-left: solid 0.1rem;*/
    text-transform: lowercase;
}

.styleguide-nav li {
    list-style: none;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: 0.03rem;
}


.styleguide-nav a:link,
.styleguide-nav a:visited {
    color: black;
    text-decoration: none;
}

.styleguide-nav a:hover,
.styleguide-nav a:focus,
.styleguide-nav a:active {

    border-bottom: solid 0.1rem;

}

.styleguide-headings{
    text-align: left;
    line-height:1.5rem;
    padding: 0rem;


}
.styleguide-headings h2{
    padding-left: 0.2rem;
    padding-top: 1.8rem;

}

.styleguide-headings h3{
    margin:0rem;

}


/*--------------FOOTER--------------*/

/*
footer {
    font-family: "Arapey", serif;
    text-transform: lowercase;
    position: fixed;
    background:white;
    width: 100%;
    color: black;
    padding: 1rem;
    padding-top: 0.5rem;
    left: 0;
    bottom: 0;
    height: 2rem;
    line-height: 0;
    text-align: right;
    border-top: lightgray solid 0.01rem;
}


footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

footer ul {
    margin-right: 2rem;
}

footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {

    border-bottom: solid white 0.1rem;

}
*/


/*------------MEDIA QUERIES------*/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
/*
    .fixed-info{
        position: static;
    }
*/
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

/*
.fixed-info{
    position: static;
}
*/

}
