/*--------------NAV--------------*/

.fixed-info {
    position: fixed;
}

nav .rectangle {
    width: 6rem;
    height: 7rem;
    background: #f7f7d4;
    position: absolute;
    top: 7rem;
    z-index: 0;
    margin-left: 2rem;

}


nav ul {
    /*    border-left: solid 0.1rem;*/
    text-transform: lowercase;
    position: absolute;
    z-index: 2;
    padding-top: 2.5rem;
}

nav li {
    list-style: none;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: 0.03rem;
    padding-left: 3rem;
}


nav a:link,
nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {

    border-bottom: solid 0.1rem;

}

.contact h3 {

    font-family: 'Arapey', serif;
    font-size: 0.7rem;
    padding-top: 0.89rem;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-align: left;
    text-transform: lowercase;
    top: 30rem;

}

.contact a:link,
.contact a:visited {
    color: black;
    text-decoration: none;
}

.contact a:hover,
.contact a:focus,
.contact a:active {

    border-bottom: solid 0.1rem;
}



/*--------------NAME--------------*/

.name h1 {
    font-family: 'Arapey', serif;
    text-transform: lowercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.name h2 {
    font-family: 'Arapey', serif;
    font-size: 0.67rem;
    letter-spacing: 0.3rem;
    font-style: italic;
    text-align: center;
}

.name h3 {
    font-family: 'Arapey', serif;
    font-size: 0.7rem;
    padding-top: 0.89rem;
    position: absolute;
    z-index: 1;
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-align: left;
    text-transform: lowercase;
}

.name {
    line-height: 0.2rem;
    padding: 2rem;
    text-align: center;
}

.name a:link,
.name a:visited{
    text-decoration: none;
    color:black;
}

.name a:hover,
.name a:focus,
.name a:active{
    text-decoration: none;
    color: black;
}




/*--------------MAIN--------------*/

body {
    font-family: 'Karla', sans-serif;
    /*margin-right: 10%;*/
}

main {
    margin-right: 5%;
}

h2 {
    font-family: 'Arapey', serif;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    line-height: 1rem;
    text-align: left;
    text-transform: lowercase;
    top: 30rem;
}

h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

h4 {
    margin: 0rem;
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    padding-top: 3rem;
}


h5 {
    font-size: 0.72rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.06rem;
    line-height: 0.9rem;
}



p {
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    line-height: 1.2rem;
    padding-bottom: 1rem;
}


main img {
    width: 100%;
}

.desc h4 {
    padding-bottom: 1rem;
}

.desc strong {
    color: lightcoral;
}



.headings {
    text-align: left;
    line-height: 1.5rem;
    padding: 0rem;
    padding-bottom: 3rem;

}

.headings h2 {
    padding-left: 0.2rem;
    padding-top: 1.8rem;

}

.headings h3 {
    margin: 0rem;
    line-height: 2.5rem;

}

.headings h4 {
    line-height: 1rem;
    padding: 0rem;
    padding-top: 1rem;
}

.headings img {
    margin-top: 1rem;
    padding-top: 1rem;
}

.overview p {
    text-align: center;

}

.overview {
    padding-top: 0rem;
    padding-bottom: 2rem;
}

.icons {
    justify-content: center;
    text-align: center;
}

.icons img {
    width: 50%;
}

.col-same .icons img{
    width: 10%;
}

#animation{
    transform: scale(0.7);
}

.contain{
    border: solid 0.01rem black;
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom:5rem;
}

.contain h4{
    margin:0rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
    
}


.desc li{
    list-style: decimal-leading-zero;
    line-height: 1rem;
    padding:1rem;
}

.citations{
    font-size: 0.07rem;w
}



/*-----------DESIGN IMAGES FOR INDEX--------*/

.designwork img {
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    z-index: 4;
}


.container img:hover {
    opacity: 0.2;
}

.container {
    color: black;
    text-align: center;
}

/*
.img-headers h3{
    position: absolute;
    font-size: 2rem;
    letter-spacing: 0.16rem;
    z-index: 2;
}

.img-headers h4{

    position:absolute;
    z-index: 2;
    padding-top:3.4rem;
}

.img-headers{ 
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 0rem;
    z-index: 2;
}
*/

/*------------LINKS-----------*/

.desc a:link,
.desc a:visited {
    color: black;
}

.desc a:hover,
.desc a:focus,
.desc a:active {
    color: lightgray;
}

h5 a:link,
h5 a:visited {
    text-decoration: none;
    color: black;
}

h5 a:hover,
h5 a:focus,
h5 a:active {
    border-bottom: solid 0.1rem;
    color: black;

}


/*------QUALIFICATIONS------*/

.qualifications h4 {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.qualifications {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.qualifications h5 {
    line-height: 0.9rem;
}




/*-----------STYLE GUIDE---------*/

.styleguide-nav ul {
    /*    border-left: solid 0.1rem;*/
    text-transform: lowercase;
}

.styleguide-nav li {
    list-style: none;
    line-height: 1.5rem;
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: 0.03rem;
}


.styleguide-nav a:link,
.styleguide-nav a:visited {
    color: black;
    text-decoration: none;
}

.styleguide-nav a:hover,
.styleguide-nav a:focus,
.styleguide-nav a:active {

    border-bottom: solid 0.1rem;

}

.styleguide-headings {
    text-align: left;
    line-height: 1.5rem;
    padding: 0rem;


}

.styleguide-headings h2 {
    padding-left: 0.2rem;
    padding-top: 1.8rem;

}

.styleguide-headings h3 {
    margin: 0rem;

}

.c1 {
    background: #f7f7d4;
}

.c2 {
    background: #fff;
}

.c3 {
    color: white;
    background: #000;

}

/*---------VIMEO LINKS----------*/


/*
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 2rem;
    height: 0;
    overflow: hidden;
    max-width: 100%;

}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
}
*/


/*--------SNAPWIDGET-----*/
.snapwidget-widget{
    border:none; 
overflow:hidden; 
width:100%
    
}
/*---------FOOTER---------*/

footer {
    margin-right: 5%;
    height: 5rem;
}

footer h2 {
    text-align: right;
}

footer h4 {
    padding-top: 1.27rem;
    text-align: right;
}

footer ul {
    /*    border-left: solid 0.1rem;*/
    text-transform: lowercase;
    position: absolute;
    text-align: left;

}

footer li {
    list-style: none;
    font-size: 0.5rem;
    display: inline;
    padding-right: 2rem;
    letter-spacing: 0.03rem;

}


footer a:link,
footer a:visited {
    color: black;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: black;
    border-bottom: solid 0.1rem;

}





/*------------MEDIA QUERIES------*/

@media (min-width: 1064px) {
    /*-------INSTAGRAM--------*/
    #instagram {
        padding-top: 3rem;
        padding-right: 10rem;
        padding-bottom: 6rem;
        border: solid 0.05rem white;
    }
}

@media (min-width: 651px) and (max-width: 674px) {}


@media (min-width: 481px) and (max-width: 650px) {

    .fixed-info {
        left: 25%;
        position: fixed;
    }

    nav .rectangle {
        width: 80%;
        height: 80%;
        background: #f7f7d4;
        position: absolute;
        top: 10%;
        left: 75%;
        z-index: 0;
        margin-left: 2rem;

    }


    nav ul {
        /*    border-left: solid 0.1rem;*/
        text-transform: lowercase;
        position: absolute;
        z-index: 2;
        padding: 0rem;
        top: 0rem;
        width: 100%;
        margin: 0rem;
        left: 170%;

    }

    nav li {
        list-style: none;
        line-height: 1.5rem;
        font-size: 0.8rem;
        text-align: left;
        letter-spacing: 0.03rem;
        padding: 0rem;
    }


    nav a:link,
    nav a:visited {
        color: black;
        text-decoration: none;
    }

    nav a:hover,
    nav a:focus,
    nav a:active {

        border-bottom: solid 0.1rem;

    }

    .contact h3 {
        display: none;
    }

    .contact a:link,
    .contact a:visited {
        color: black;
        text-decoration: none;
    }

    .contact a:hover,
    .contact a:focus,
    .contact a:active {

        border-bottom: solid 0.1rem;
    }


    /*--------------NAME--------------*/
    .name h1 {
        font-family: 'Arapey', serif;
        text-transform: lowercase;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        text-align: center;
    }

    .name h2 {
        font-family: 'Arapey', serif;
        font-size: 0.67rem;
        letter-spacing: 0.3rem;
        font-style: italic;
        text-align: center;
    }

    .name h3 {
        width: 100%;
        top: 0rem;
        left: 100%;
        padding: 0rem;
        font-family: 'Arapey', serif;
        font-size: 0.7rem;
        position: absolute;
        z-index: 1;
        letter-spacing: 0.15rem;
        line-height: 1rem;
        text-align: left;
        text-transform: lowercase;
    }

    .name {
        margin: 1rem;
        padding: 0rem;
        line-height: 0.2rem;
        text-align: center;
    }

    main {
        margin-right: 0.5rem;

        margin-left: 0.5rem;
    }

    .headings {
        padding-top: 4rem;
    }

    header {
        background: white;
        width: 100%;
        height: 6.5rem;
        position: fixed;
        border-bottom: solid 0.01rem lightgray;

    }
    
    .contain{
        padding:2rem;
    }


}




@media (min-width: 320px) and (max-width: 480px) {
    .fixed-info {
        left: 15%;
        position: fixed;
    }

    nav .rectangle {
        width: 80%;
        height: 80%;
        background: #f7f7d4;
        position: absolute;
        top: 10%;
        left: 75%;
        z-index: 0;
        margin-left: 2rem;

    }


    nav ul {
        /*    border-left: solid 0.1rem;*/
        text-transform: lowercase;
        position: absolute;
        z-index: 2;
        padding: 0rem;
        top: 0rem;
        width: 100%;
        margin: 0rem;
        left: 170%;

    }

    nav li {
        list-style: none;
        line-height: 1.5rem;
        font-size: 0.8rem;
        text-align: left;
        letter-spacing: 0.03rem;
        padding: 0rem;
    }


    nav a:link,
    nav a:visited {
        color: black;
        text-decoration: none;
    }

    nav a:hover,
    nav a:focus,
    nav a:active {

        border-bottom: solid 0.1rem;

    }

    .contact h3 {
        display: none;
    }

    .contact a:link,
    .contact a:visited {
        color: black;
        text-decoration: none;
    }

    .contact a:hover,
    .contact a:focus,
    .contact a:active {

        border-bottom: solid 0.1rem;
    }

    /*--------------NAME--------------*/
    .name h1 {
        font-family: 'Arapey', serif;
        text-transform: lowercase;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        text-align: center;
    }

    .name h2 {
        font-family: 'Arapey', serif;
        font-size: 0.67rem;
        letter-spacing: 0.3rem;
        font-style: italic;
        text-align: center;
    }

    .name h3 {
        width: 100%;
        top: 0rem;
        left: 100%;
        padding: 0rem;
        font-family: 'Arapey', serif;
        font-size: 0.7rem;
        position: absolute;
        z-index: 1;
        letter-spacing: 0.15rem;
        line-height: 1rem;
        text-align: left;
        text-transform: lowercase;
    }

    .name {
        margin: 1rem;
        padding: 0rem;
        line-height: 0.2rem;
        text-align: center;
    }

    main {
        margin-right: 0.5rem;

        margin-left: 0.5rem;
    }

    .headings {
        padding-top: 4rem;
    }

    header {
        background: white;
        width: 100%;
        height: 6.5rem;
        position: fixed;
        border-bottom: solid 0.01rem lightgray;

    }
    
    .contain{
    border: solid 0.01rem black;
    padding: 1.3rem;
}


}
